$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-chevron: "\e900";
$icon-bars: "\e901";
$icon-close: "\e902";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-github: "\f09b";
$icon-instagram: "\f16d";

