// My own mixins
@mixin media-screen($size, $direction) {
	@media screen and (#{$direction}: $size){ @content; }
} 
@mixin text($font-family: $font-family-base, $font-size: $font-size-base, $font-style: italic, $font-weight: normal, $text-transform: none, $color: $gray-900, $margin: auto) {
	font: {
		family: $font-family;
		size: $font-size;
		style: $font-style;
		weight: $font-weight;
	}
	text-transform: $text-transform;
	color: $color;
	margin: $margin;
}
@mixin section($background-image, $background-size, $background-position, $background-color, $background-repeat, $width, $height,$padding-top, $padding-bottom) {
	background: {
		image: $background-image;
		size: $background-size;
		position: $background-position;
		color: $background-color;
		repeat: $background-repeat;
	}
	width: $width;
	height: $height;
	padding-top: $padding-top;
	padding-bottom: $padding-bottom;
}
@mixin button($border-color){
	width: 240px;
	display: inline-block;
	background: transparent;
	border: 0;
	outline: 0 !important;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 10px;
	transition: all 0.3s ease-out;
	text-decoration: none;
	&:hover {
		border: 1px solid $border-color;
	}
}
@mixin icon-link($background-color: $black, $border-radius: 50%, $text-align: center, $text-decoration: none, $cursor: pointer, $padding: auto){
	background-color: $background-color;
	border-radius: $border-radius;
	text-align: $text-align;
	text-decoration: $text-decoration;
	cursor: $cursor;
	padding: $padding;
}
@mixin icon($color, $font-size){
	color: $color;
	font-size: $font-size;
}

// My own SCSS styles
body {
	@include text();

/*GitHub*/
	.github {
		position: fixed;
		right: 0;
		top: 100px;
		z-index: 10000;
		.github-link {
			@include icon-link($black, 10px 0 0 10px, right, none, pointer, 7px 10px 5px 10px);
			display: block;
			transition: 0.3s;
			&:hover {
				padding-right: 40px;
			}
			.icon-github {
				@include icon($white, $font-size-base * 2.5);
			}
		}
	}

/*To top*/
	#to-top {
		@include icon-link(transparent, none, center, none, pointer, auto);
		z-index: 99;
		width: 60px;
		height: 50px;
		position: fixed;
		bottom: 20px;
		right: 10px;
		display: none;
		.icon-chevron {
			@include icon($black, $font-size-base * 4);
			font-weight: 600;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include media-screen(992px, max-width) {
					font-weight: 400;
				}
		}
	}

/*Popup Form*/
	.popup-form {
		padding: 70px 50px 50px;
		background: $white;
		margin: auto;
		@include media-screen(576px, max-width) {
			padding: 35px 20px 20px;
		}
	}
	.hidden {
		display: none;
	}
	form {
		text-align: left;
		.form-input {
			@include text($font-family: $font-family-base, $font-style: italic, $color: $gray-600);
			width: 100%;
			padding: 20px;
			&:focus::-webkit-input-placeholder {
				color: transparent;
			}
			&:focus:-moz-placeholder {
				color: transparent;
			}
			&:focus::-moz-placeholder {
				color: transparent;
			}
			&:focus:-ms-input-placeholder {
				color: transparent;
			}
		}
		.form-button {
			width: 100%;
			padding: 20px;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			color: white;
			background: black;
			border: none;
			border: 2px solid black;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			&:hover {
				background: white;
				border: 2px solid black;
				color: black;
			}
		}
	}
	/*popup*/
img.mfp-img {
	padding: 0;
}
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap {
	.mfp-content{
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
}
.mfp-fade.mfp-wrap.mfp-ready {
	.mfp-content {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.mfp-fade.mfp-wrap.mfp-removing {
	.mfp-content {
		opacity: 0;
	}
}
.mfp-arrow {
	top: 0;
	height: 100%;
	margin-top: 0;
	outline: 0 !important;
	&:hover {
		margin-top: 0;
	}
	&:before {
		top: 50%;
		margin-top: 0;
		right: 0;
		margin: 0 auto;
	}
	&:after {
		display: none;
		right: 0;
		margin: 0 auto;
	}
}
.mfp-close {
	display: none;
}

// Header
	header {
		height: 100vh;
		.menu {
			width: 100%;
			background: white;
			position: fixed;
			top: 0;
			z-index: 500;
			border-bottom: 1px solid #d0d0d0;
			.menu-icon {
				display: none;
				background: transparent;
				border: none;
				font-size: 40px;
				color: #333;
				width: 40px;
				height: 40px;
				cursor: pointer;
				position: relative;
				margin: 15px 0;
				outline: 0 !important;
				@include media-screen(992px, max-width) {
					display: block;
				}
				i {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
				}
			}
			nav {
				@include media-screen(992px, max-width) {
					display: none;
					padding: 18px 0;
					border-top: 1px solid #d0d0d0;
				}
				.nav {
					@include media-screen(992px, max-width) {
						display: block;
						margin: 0 auto;
					}
					.nav-link {
						@include text($font-family-base, 20px, italic, normal, none, $gray-900, 10px auto);
					}
				}
			}
		}
		.header-content {
			@include section(url('../img/header/header-bg.png'), cover, 0, $white, no-repeat, auto, 100%, 45px, 0);
			img {
				width: 100%;
			}
			h1 {
				@include text($font-size: 1.8em, $font-style: normal, $text-transform: uppercase);
			}
		}
	}
	.section {
		@include section(none, auto, 0, $white, no-repeat, auto, auto, 130px, 140px);
		@include media-screen(576px, max-width) {
			@include section(none, auto, 0, $white, no-repeat, auto, auto, 100px, 110px);
		}
		.title {
			@include text($font-family-montserrat, 30px, normal, bold, uppercase, $gray-900, 0 0 20px 0);
		}
		.desc {
			@include text($margin: 0 0 70px);
		}
	}

// Services
	#services {
		@include section(url('../img/services/services-bg.png'), cover, 50% 0, $white, no-repeat, auto, auto, 130px, 140px);
		@include media-screen(576px, max-width) {
			@include section(url('../img/services/services-bg.png'), cover, 50% 0, $white, no-repeat, auto, auto, 100px, 110px);
		}
		.services-item {
			.item-icon {
				width: 110px;
				margin-top: 100px;
			}
			.title {
				@include text($font-family-montserrat, 16px, normal, bold, uppercase, $gray-900, 50px 0 20px 0);
			}
		}
	}

// Portfolio
	.loadMore {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		@include media-screen(992px, max-width) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}

		.item {
			position: relative;
			display: inline-block;
			img {
				width: 100%;
			}
			.mask {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.2);
				overflow: hidden;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover {
				.mask {
					opacity: 1;
				}
			}
		}
	}
	.btn-load-more {
		@include text($font-family: $font-family-base, $font-size: 20px, $font-style: italic, $font-weight: normal, $text-transform: none, $color: $gray-900, $margin: 70px 0 0);
		@include button($gray-900);
	}

// About
	#about {
		@include section(url('../img/about/bg-about.jpg'), cover, 0 100%, #f8f8f8, no-repeat, auto, auto, 130px, 140px);
		position: relative;
		@include media-screen(992px, max-width) {
			background-position: 100% 100%;
		}
		@include media-screen(576px, max-width) {
			@include section(url('../img/about/bg-about.jpg'), cover, 100% 100%, #f8f8f8, no-repeat, auto, auto, 100px, 110px);
		}
		.col-text {
			z-index: 10;
			position: absolute;
			top: 60%;
			transform: translateY(-60%);
			@include media-screen(992px, max-width) {
				order: 2;
				position: relative;
				top: 0;
				transform: none;
				margin-top: 40px;
			}
		}
		img {
			width: 100%;
		}
		cite {
			@include text($font-size: 20px);
		}
	}

// Prices
	#prices {
		@include media-screen(576px, max-width){
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}
		.prices-content {
			@include section(none, auto, 0, $black, no-repeat, auto, auto, 100px, 100px);
		}
		.title {
			@include text($font-family-montserrat, 30px, normal, bold, uppercase, $white, 0 0 20px 0);
		}
		.table {
			width: 100%;
			@include text($font-family-montserrat, 18px, normal, normal, uppercase, $white, 50px auto 0);
			tr {
				&:hover {
					background: $bluish-black;
				}
				td {
					padding: 12px 12px 12px 50px;
					&:last-child {
						text-align: right;
						padding: 12px 50px 12px 12px;
					}
				}
			}
		}
		.prices-link {
			@include text($font-family: $font-family-base, $font-size: 20px, $font-style: italic, $font-weight: normal, $text-transform: none, $color: $white, $margin: 70px 0 0);
			@include button($white);
		}
	}

// Testimonials
	#testimonials {
		@include section(none, auto, 0, #f8f8f8, no-repeat, auto, auto, 130px, 140px);
		@include media-screen(576px, max-width) {
			@include section(none, auto, 0, #f8f8f8, no-repeat, auto, auto, 100px, 110px);
		}
		.slider {
			margin-top: 70px;
			.item {
				width: 100%;
				max-width: 260px;
				@include media-screen(992px, max-width) {
					max-width: 240px;
				}
				@include media-screen(768px, max-width) {
					max-width: 220px;
				}
				.article {
					h2{
						@include text($font-family: $font-family-montserrat, $font-size: $h2-font-size, $font-style: italic, $font-weight: bold, $text-transform: none, $margin: 0 auto 20px);
					}
					footer {
						@include text($font-family: $font-family-montserrat, $font-size: $font-size-base, $font-style: normal, $font-weight: bold, $text-transform: none, $margin: 40px auto 0);
					}
				}
			}
		}
	}

// Contact
	#map {
		width: 100%;
		height: 373px;
	}
	.contact-form {
		@include media-screen(992px, max-width) {
			margin-top: 50px;
		}
	}
	.opening-hours {
		.title {
			@include text($font-family-montserrat, 16px, normal, bold, uppercase, $gray-900, 80px 0 20px 0);
		}
		.address-link, .phone-link {
			@include text($font-family-base, 16px, normal, normal, none, $gray-900, 0);
		}
		.address, .phone {
			color: $gray-900;
			text-decoration: none;
			&:hover {
				color: $pink;
			}
		}
		.dot {
			@include media-screen(992px, max-width) {
				display: none;
			}
		}
	}

// Footer
	#footer {
		@include section(none, auto, 0, #f8f8f8, no-repeat, auto, auto, 80px, 45px);
		ul {
			padding: 0;
			li{
				display: inline-block;
				margin: 20px;
				border-radius: 50%;
				background-color: #000 !important;
				@include media-screen(576px, max-width) {
					margin: 20px 10px;
				}
				.footer-icon {
					@include icon-link(transparent, 50%, center, none, pointer, auto);
					display: block;
					width: 40px;
					height: 40px;
					padding: 5px;
					margin: 5px;
					&:hover {
						@include icon-link($background-color: $pink);
					}
					.icon-facebook, .icon-instagram, .icon-twitter {
						@include icon($white, $font-size-base * 2);
					}
				}
			}
		}
	}
}
